*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(25, 41, 42);
}
 
 

.header-image {
    width: 100px;
    height: 100px;
}



h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-bottom: 20px;
}

.card{
    height: 100vh;
    text-align: center;
    margin-top: 30px;
    
}
 
.div-img{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid white;
}

button{
    margin-top: 10px;
    display: inline-block;
    padding: 0px 40px 0px 40px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none
}

button:hover{
    color: black;
    background-color: hsl(156, 100%, 77%);
}

footer {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

 